.body{
    background-color: black;
}
.main-body {
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url(https://rb.gy/vkehnf);
    min-height: 600px;
}

.key-strokes {
    display: flex;
    justify-content:center;
    align-items: center;
}

.key {
    display: flex;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    margin-right: 25px;
    border: 3px solid white;
    color: white;
    transition: all 0.07s;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 5px black;
    align-items: center;
    justify-content: center;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}